* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #dedede;
  color: #5a6674;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 55% 35%;
  font-family: 'Roboto', sans-serif;
  justify-items: center;
  background-size: cover;
}

button {
  width: 5em;
  height: 2em;
}

#searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

#inputBtn {
  border-radius: 40px;
  color: white;
  background-color: #4c96f7;
  font-size: 16px;
}

#searchBar {
  margin-top: 2em;
  /* padding: 1em; */
  padding: 1.5em 0.5em 1.5em 1em;
  justify-content: center;
  width: 45%;
  height: 6em;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchBar:focus-within {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

#locationInput {
  font-size: 16px;
  background: none;
  color: #5a6674;
  outline: none;
  width: 85%;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #5a6674;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #5a6674;
}

#currContainer {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  color: #fff;
}

#firstContainer {
  grid-column: 1;
}

#secondContainer {
  grid-column: 3;
  align-items: end;
}

#firstContainer,
#secondContainer {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding: 0 3rem 0 3rem;
  font-size: 28px;
}

#name {
  font-size: 36px;
}

#conditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

#currWeatherIcon {
  aspect-ratio: 1 / 1;
  width: 10rem;
}
