html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
.form-header {
  height: 5%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectFormWrapper {
  display: none;
  height: 100%;
  width: 100%;
}

#todoFormWrapper {
  display: block;
  height: 100%;
  width: 100%;
}

.form-header {
  height: 14%;
  justify-content: space-between;
}

h1,
h2 {
  color: #fff;
}

.form-h2 {
  margin-left: 20px;
}

.cross {
  margin-right: 10px;
}

.grid-container,
.form-grid-container {
  display: grid;
  height: 95%;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  gap: 0px;
}

.form-grid-container {
  height: 86%;
}

#list-container {
  height: auto;
  grid-column: 2;
  grid-row: 1;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar,
.form-sidebar {
  grid-column: 1;
  grid-row: 1;
  border-right: solid;
  border-color: #a8a8a8;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ececec;
  gap: 10px;
}

.form-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newItemDialog::backdrop,
#detailDialog::backdrop,
#editDialog::backdrop {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0.7;
}

#detailContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.projectBtn {
  width: 100%;
  height: 3em;
  font-size: 16px;
  border: none;
  background-color: #ececec;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.projectBtn:hover {
  filter: brightness(85%);
}

.selected {
  filter: brightness(85%);
}

#titleDisplayContainer,
#projectTitleDisplayContainer,
#descriptionDisplayContainer,
#dateDisplayContainer,
#prioDisplayContainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  gap: 5px;
  align-items: center;
}

#newTodoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
  width: 100%;
}

#newTodoBtn {
  margin-top: 10px;
}
#newProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.textInput {
  border: 0;
  background-color: #f6f6f6;
  width: 90%;
  resize: none;
}

#form-date-container,
#edit-form-date-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 1.5em;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 40px;
}

#date-container-text,
#prio-container-text,
#edit-date-container-text,
#edit-prio-container-text {
  height: 100%;
  margin: 0;
  margin-left: 15px;
}

#edit-prio-container-text,
#edit-date-container-text {
  margin-left: 30px;
}

#projectHeader {
  font-size: 24px;
}

#form-button-container,
#edit-form-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 5px;
}

#project-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 5px;
  margin-bottom: 30px;
}

#createTodo,
#createProject,
#confirmEdit {
  margin-right: 20px;
  max-width: 200px;
  width: 70%;
  height: 2em;
  background-color: #a5c9ff;
  border: none;
  color: #121212;
  border-radius: 5px;
  font-size: 16px;
}

#title,
#projectTitle,
#editTitle {
  margin-top: 10px;
}

::placeholder {
  color: #928f8f;
}

#newItemDialog,
#detailDialog,
#editDialog {
  position: absolute;
  width: 80%;
  max-width: 800px;
  height: 30%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f6f6f6;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#openFormBtn {
  max-width: 200px;
  width: 70%;
  height: 2em;
  background-color: #a5c9ff;
  border: none;
  color: #121212;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

#openFormBtn:hover,
#createTodo:hover,
#createProject:hover,
#confirmEdit:hover {
  background-color: #f6f6f6;
  color: #121212;
  border: 2px solid #a5c9ff;
}

#formTextContainer,
#projectTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 5px;
}

input[type='radio'] {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: relative;
  pointer-events: none;
  padding: 0px;
  margin: 0px;
  left: 1.9rem;
}

#radio-container,
#edit-radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  padding: 5px 10px;
  cursor: pointer;
  border: 3px solid;
}

.lowLabel {
  background-color: white;
  color: #7bb662;
  border-color: #7bb662;
  margin-left: 10px;
}

.midLabel {
  background-color: white;
  color: #ffd301;
  border-color: #ffd301;
  margin-left: 5px;
}

.highLabel {
  background-color: white;
  color: #e03c32;
  border-color: #e03c32;
  margin-left: 5px;
}

input[type='radio']:checked + .lowLabel {
  color: white;
  background-color: #7bb662;
}

input[type='radio']:checked + .midLabel {
  color: white;
  background-color: #ffd301;
}

input[type='radio']:checked + .highLabel {
  color: white;
  background-color: #e03c32;
}

.todoItem {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #d6e6ff;
  margin: 5px;
  height: 3em;
  justify-content: space-between;
  align-items: center;
}

.todoChecked {
  filter: brightness(85%);
}

.todoItem:hover {
  filter: brightness(85%);
}

.inter-container-one {
  display: grid;
  grid-template-columns: fit-content(3em) 4.5em fit-content(75%);
  grid-template-rows: 100%;
  height: 100%;
  gap: 10px;
}
.inter-container-two {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100%;
  gap: 10px;
}

.titleContainer {
  grid-column: 3;
  grid-row: 1;
  overflow: hidden;
}

.todoTitle {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todoTitleChecked {
  text-decoration: line-through;
}

.prioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}

.prioLow,
.prioMid,
.prioHigh {
  padding: 5px 10px;
  border: 3px solid;
  color: white;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prioLow {
  background-color: #7bb662;
  border-color: #7bb662;
}
.prioMid {
  background-color: #ffd301;
  border-color: #ffd301;
}

.prioHigh {
  border-color: #e03c32;
  background-color: #e03c32;
}

.todoDeleteBtn,
.todoCheckBtn,
.todoDetailBtn {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: #3d3d3d;
  border: none;
}

.todoDeleteBtn {
  color: #e03c32;
  grid-column: 4;
  grid-row: 1;
}

.editBtn {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: #d6e6ff;
  border: none;
  grid-column: 3;
  grid-row: 1;
  color: #000;
}

.detailBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

.todoDetailBtn {
  padding: 5px 10px;
  color: white;
  width: 4.5em;
  height: 2.5em;
  border-radius: 5px;
}

.dueDate {
  grid-column: 2;
  grid-row: 1;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoCheckBtn {
  color: #7bb662;
  grid-column: 1;
}

.todoDeleteBtn:hover,
.todoCheckBtn:hover {
  background-color: #121212;
}
